<div fxLayout="column" class="rincon-theme">
  <div class="car-img" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div fxLayout="column" fxLayoutAlign="center center" style="padding: 20px">
      <h1 class="mat-display-3 shadow">Rincon Car Wash</h1>

      <div class="mat-headline">Open 24/7 Year Round</div>

      <div class="mat-headline">140 N Prospect Street, Orange, CA 92869</div>

      <div class="mat-title">
        Near the corner of Chapman Ave and Prospect Street
      </div>

      <div class="mat-title">(714) 712-0672</div>
      <div class="mat-title">azulrincon@outlook.com</div>
      <a
        mat-raised-button
        color="warn"
        href="https://www.yelp.com/biz/rincon-carwash-orange"
        target="_blank"
      >
        <fa-icon [icon]="faYelp"></fa-icon>
        Visit us on yelp</a
      >
    </div>
    <div>
      <div md-whiteframe="24" class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.9237572629113!2d-117.82090068429883!3d33.78846698067861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcda10bca8014f%3A0xd6049a66b2124fb9!2sRincon+Carwash!5e0!3m2!1sen!2sus!4v1493949184421"
          width="600"
          height="450"
          frameborder="0"
          style="border: 0"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="50px"
    style="padding: 20px">
    <div style="height: 50px"></div>
    <div fxLayout="column" fxLayoutAlign="center center" >
      <div class="mat-display-1 shadow">
        $4.00 USD for the first 6:40 minutes
      </div>
      <div class="mat-subheading-2">
        Each additional card swipe costs $1 for an additional 1:40 minutes
      </div>
    </div>
    <div class="mat-display-1 shadow">
      "The most reasonably priced car wash in Orange County"
    </div>
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center start" fxLayoutAlign.lt-lg="center center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="center pic">
          <img src="/assets/wash/spray.png" alt="" />
        </div>

        <h3 class="mat-display-1 uppercase shadow">Wash</h3>

        <ul class="fa-ul md-title">
          <li>
            <fa-icon [icon]="faCheckSquare"></fa-icon> 4 self serve car/truck
            high-pressure wash bays that accepts coins, tokens and credit cards
          </li>

          <li>
            <fa-icon [icon]="faCheckSquare"></fa-icon> 1 self serve RV/larger
            vehicle high pressure wash bay that accepts coins, tokens and credit
            cards
          </li>
        </ul>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="center pic">
          <img src="/assets/wash/vac.png" alt="" />
        </div>

        <h3 class="mat-display-1 uppercase shadow">Vacuums</h3>

        <ul class="fa-ul md-title">
          <li>
            <fa-icon [icon]="faCheckSquare"></fa-icon> 6 coin operated self
            serve vacuums that accept coins and tokens
          </li>
        </ul>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="center pic">
          <img src="/assets/wash/fresh.png" alt="" />
        </div>

        <h3 class="mat-display-1 uppercase shadow">Products</h3>

        <ul class="fa-ul md-title">
          <li>
            <fa-icon [icon]="faCheckSquare"></fa-icon> Vending machines products
            to help detail your vehicle
          </li>

          <li>
            <fa-icon [icon]="faCheckSquare"></fa-icon> Quality Simoniz soaps and
            wax
          </li>
        </ul>

        <div class="center">
          <img
            style="height: 50px; width: 125px"
            src="/assets/Simoniz_wt.svg"
            alt="Simoniz"
            data-pin-nopin="true"
          />
        </div>
      </div>
    </div>
  </div>
</div>
